.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.content-box {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-wrapper button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-wrapper button:hover {
  background-color: #0056b3;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="text"]:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.button-wrapper1 button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* input[type="text"]::placeholder {
    color: #aaa;
} */
  
ol {
    padding-left: 20px;
}